
.opacity-50 { opacity: .5; }
.opacity-75 { opacity: .75; }

.list-group {
  
  height: 250px;
}




.list-group-checkable .list-group-item {
  cursor: pointer;
  border-radius: .5rem;
}
.list-group-item-check:hover + .list-group-item {
  background-color: var(--bs-light);
}

.list-group-item-check:checked + .list-group-item {
  color: #fff;
  background-color: var(--bs-blue);
}
.list-group-item-check[disabled] + .list-group-item,
.list-group-item-check:disabled + .list-group-item {
  pointer-events: none;
  filter: none;
  opacity: .5;
}
.hr1{
  border-top:2px solid black;
}
.h1font{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:xx-large;

}