*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(204, 204, 204);
}
.title{
  color: rgb(204, 204, 204);
  font-family: 'Poppins', sans-serif;
}
.nav__link{
  font-family: 'Poppins', sans-serif;
  
}
.nav__link:hover{
  color: rgb(204, 204, 204);
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 15vh;
  background: rgb(0, 33, 65);
}
.nav__menu {
  display: flex;
  align-items: center;
  
  gap: 1rem;
}
.nav__brand {
  text-transform: uppercase;
}
.nav_hide {
  transition-timing-function:  ease-in;
  transition: 1s;
}

.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  
}
.dropdown-active{
  width: 200px;
  position: absolute;
  top: 15vh;
  list-style: none;
  text-align: start;
  background: rgb(0, 0, 0);
}
.dropdown-menu{
  display: none;
}
.liste:hover{
  color: rgb(240, 5, 5);

}
@media screen and (max-width: 768px) {
  .nav__item{
    margin: 0px;
  }
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: absolute;
    top: 15vh;
    right: 0;
    height: fit-content;
    width: 100%;
    background: rgb(0, 33, 65);
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    z-index: 1;
    border-top: 0.5vh solid rgb(10, 2, 92);
  }
  .nav__item{
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
  
}
/* Active Class */
.nav__active {
  transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}